
feature_engineering.py
*.log
Scaler.pkl
turnover_general_model.pkl
threshold.pkl
turnover_general_model.pkl
Scaler.pkl
feature_engineering.py
.ipynb_checkpoints/Custom_Tools-checkpoint.py
.ipynb_checkpoints/feature_engineering-checkpoint.py
*.log
*.pyc
*.log
*.log
.mrx-link-logs/mrx-link-22732.log
.mrx-link-logs/Turnover.ipynb.log
.mrx-link-logs/Turnover.ipynb.log.1
.mrx-link-logs/Turnover.ipynb.log.10
.mrx-link-logs/Turnover.ipynb.log.2
.mrx-link-logs/Turnover.ipynb.log.3
.mrx-link-logs/Turnover.ipynb.log.4
.mrx-link-logs/Turnover.ipynb.log.5
.mrx-link-logs/Turnover.ipynb.log.6
.mrx-link-logs/Turnover.ipynb.log.7
.mrx-link-logs/Turnover.ipynb.log.8
.mrx-link-logs/Turnover.ipynb.log.9
catboost_info/time_left.tsv
catboost_info/learn_error.tsv
catboost_info/learn/events.out.tfevents
catboost_info/catboost_training.json
.virtual_documents/Turnover.ipynb
.mrx-link-logs/Turnover.ipynb.log
.mrx-link-logs/mrx-link-22732.log
.ipynb_checkpoints/Turnover-checkpoint.ipynb
.ipynb_checkpoints/target_definition-checkpoint.py
.ipynb_checkpoints/preprocess_turnover-checkpoint.py
.ipynb_checkpoints/final_transformation-checkpoint.py
codsecao_hasher.pkl
turnover_general_model.pkl
feature_engineering.py
feature_selection.pkl
funcao_descricao_hasher.pkl
Scaler.pkl
turnover_general_model.pkl
feature_engineering.py
feature_selection.pkl
Scaler.pkl
population_filter.py
final_transformation.py
preprocess_turnover.py
.ipynb_checkpoints/feature_engineering_polars-checkpoint.py
.ipynb_checkpoints/target_definition_polars-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Turnover-checkpoint.ipynb
feature_engineering.py
